:root {
    --background-color: white;
  }
  
  html {
    font-family: sans-serif;
  }
  
  header {
    position: fixed;
    width: 100vw;
    height: 12vh;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    background-color: var(--background-color);
  }
  
  header div {
    display: flex;
  }
  
  header p {
    left: 0;
    margin: auto;
    min-width: 16rem;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    user-select: none;
  }
  
  #header-img {
    margin: auto;
    margin-left: 1rem;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #nav-bar {
    margin: auto;
    margin-right: 0;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(3, max-content)
  }
  
  #nav-bar a {
    margin: auto;
    margin-right: 6rem;
  }
  
  form {
    margin: auto;
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  form label {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
  }
  
  #email {
    margin: 1rem 40vw;
    width: 100%;
    padding: 0.4rem;
  }
  
  #submit {
    margin: auto;
    width: 10rem;
    text-align: right;
    border: none;
    background-color: yellow;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 4px;
    transition: background-color 0.4s;
  }
  
  #submit:hover {
    cursor: pointer;
    background-color: orange;
  }
  
  #features {
    margin-top: 8rem;
  }
  
  .img-div {
    display: grid;
    width: 50vw;
    min-width: 24rem;
    margin: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 4rem;
  }
  
  #features img {
    margin: auto;
    margin-bottom: 4rem;
  }
  
  #features p {
    margin-top: 0;
    margin-bottom: 4rem;
    padding: 0;
  }
  
  #features h1 {
    margin-bottom: 0;
    padding: 0;
  }
  
  #How_It_Works {
    width: 620px;
    margin: auto;
    margin-top: 2rem;
  }
  
  #video {
    width: 620px;
    height: 360px;
  }
  
  #Pricing {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, auto);
    column-gap: 1.5rem;
    row-gap: 0;
    text-align: center;
    margin-top: 4rem;
  }
  
  #Pricing h3 {
    background-color: #DADADA;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    font-weight: normal;
  }
  
  .pricing-div {
    border: solid 1px black;
  }
  
  #Pricing p {
    margin: 0.5rem;
  }
  
  #Pricing p:last-of-type {
    margin-bottom: 2rem;
  }
  
  .select {
    margin: auto;
    margin-bottom: 2rem;
    background-color: yellow;
    text-align: center;
    width: 4rem;
    padding: 1rem;
    transition: background-color 0.4s;
  }
  
  .select:hover {
    cursor: pointer;
    background-color: orange;
  }
  
  footer {
    background-color: #DADADA;
    width: 60vw;
    margin: auto;
    margin-top: 2rem;
    text-align: right;
    padding: 1rem;
  }
  
  footer p {
    font-size: 0.9rem;
    color: #5F5F5F;
    margin: auto;
    padding: 1rem;
  }
  
  footer a {
    margin: auto;
    padding: 0.5rem;
  }
  
  @media only screen and (max-width: 620px) {
    #features .img-div img {
      display: none;
    }
  
    #features .img-div {
      display: grid;
      width: 50vw;
      min-width: 24rem;
      margin: auto;
      text-align: center;
      grid-template-columns: repeat(1, auto);
      column-gap: 4rem;
    }
  
    #Pricing {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1, auto);
      column-gap: 1.5rem;
      row-gap: 0;
      text-align: center;
      margin-top: 4rem;
    }
  
    #video {
      margin: auto;
      width: 580px;
      height: 360px;
    }
  
    footer {
      background-color: #DADADA;
      width: 100vw;
      margin: auto;
      margin-top: 2rem;
      text-align: right;
      padding: 1rem;
    }
  
    header {
      position: fixed;
      width: 100vw;
      height: 15vh;
      margin: 0;
      top: 0;
      left: 0;
      display: grid;
      grid-template-columns: repeat(1, auto);
      background-color: var(--background-color);
    }
  
    header div {
      display: flex;
    }
  
    header p {
      margin: auto;
    }
  
    #header-img {
      margin: auto;
    }
  
    a {
      text-decoration: none;
      color: black;
    }
  
    #nav-bar {
      margin: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(1, max-content)
    }
  
    #nav-bar a {
      margin: auto;
    }
  
    form {
      margin: auto;
      margin-top: 20vh;
      display: flex;
      flex-wrap: wrap;
    }
  }